<header>

    <div class="header">
        <h2>website</h2>
    </div>

    <div id="navbar">
        <a class="active" href="javascript:void(0)">Home </a>
        <a href="connectpage.html">connect</a>
        <a href="javascript:void(0)">help</a>
        <a class="form-group">
            <input type="text" class="form-control" placeholder="Search"> </a>
    </div>


</header>