<head>
    <link href="css/sty.css" rel="stylesheet">
</head>

<header>

    <div class="header">
        <h2>website</h2>
    </div>

    <div id="navbar">
        <a class="active" href="/">Home </a>
        <a href="/connectpage">connect</a>
        <a href="#">help</a>
        <a class="form-group">
            <input type="text" class="form-control" placeholder="Search"> </a>
    </div>


</header>