body {
    margin: 0;
    font-size: 28px;
    font-family: Felix Titling, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.button {
    background-color: #a70d48;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Felix Titling, Helvetica, sans-serif;
}

.profile {
    display: 'block';
    line-height: 30px;
}

.searching {
    display: 'block';
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    padding-left: 8px;
}

input[type=text].searching {
    width: 20%;
    padding: 8px;
    margin: 5px 0 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}

select.searchingRate {
    width: 110px;
    padding: 10px;
    margin: 15px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select.searchingJType {
    width: 180px;
    padding: 10px;
    margin: 15px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: Felix Titling, Helvetica, sans-serif;
    /*TODO: maybe different style?*/
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
    /*text-align: center;*/
}

#navbar a {
    float: left;
    display: block;
    color: #fbfdfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #a70d48;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */

.registerbtn {
    background-color: #a70d48;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

h3.report {
    padding-left: 15px;
}

label.report {
    font-size: 20px;
    padding-left: 15px;
}

button.report {
    font-size: 18px;
    font-family: Felix Titling, Helvetica, sans-serif;
    background-color: #a70d48;
    color: white;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    width: 35%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

input[type=text].report {
    width: 30%;
    padding: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus.report {
    background-color: #ddd;
    outline: none;
}

.container {
    overflow: hidden
}

.tab {
    float: left;
}

.tab-2 {
    margin-left: 50px
}

.tab-2 input {
    display: block;
    margin-bottom: 10px
}

tr {
    transition: all .25s ease-in-out
}

tr:hover {
    background-color: #EEE;
    cursor: pointer
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #a70d48;
    color: white;
}

button.report-reset {
    font-size: 18px;
    font-family: Felix Titling, Helvetica, sans-serif;
    background-color: #a70d48;
    color: white;
    padding: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.95;
    text-align: center;
}

select.report2 {
    width: 200px;
    font-size: 18px;
    background: #f1f1f1;
    font-family: Felix Titling, Helvetica, sans-serif;
}

select.report {
    width: 65px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select:disabled.report {
    width: 65px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: rgb(201, 200, 200);
}