<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/inputEvent" method="POST" onsubmit="return initdit()">
    <div class="container">
      <p>Please fill in this form the details to create an event</p>
      <hr>

      <br/>
      <label for="eventName"><b>Event Name</b></label>
      <input type="text" placeholder="Enter Event Name" name="eventname" id="eventname" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');"required>
      <br/>
      <label for="eventLoc"><b>Event Location</b></label>
      <input type="text" placeholder="Enter event location" name="eventloc" id="eventloc" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="numGuest"><b>num guest</b></label>
      <input type="text" placeholder="Enter number of guests" name="numGuest" id="numguest" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="date"><b>Event date</b></label>
      <input type="date"  name="date" id="date">
      <br/>
      <label for="date"><b>Start time</b></label>
      <input type="time" name="time" id="time">
      <br/>

     <button type="submit" class="registerbtn" >Create Event</button>
    </div>
  
    
</form>

<script>
  function initdit()
  {
    //DATES:
    var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        //document.write(today);
        document.getElementById("date").min = today;
  }


</script>