<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/cancelRecruit" method="POST" >
    <div class="container">
        <p>Please enter the id of the contractor worker that you want to review</p>
        <hr>
         
    </div>

   

</form>
</body>

<script>
   
</script>
</html>