<html>

<head>
    <link href="css/sty.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('../partials/_header') %>
    </header>

    <label><b>The creators of this website: </b></label><br />
    <div style="font-size: 22px; line-height: 35px;">
        <label>Ofir Ben Zaken: </label><a href="mailto:Ofirbo1@ac.ace.ac.il">Ofirbo1@ac.ace.ac.il</a><br />
        <label>Mor Gajer: </label><a href="mailto:morga2@ac.sce.ac.il">morga2@ac.sce.ac.il</a><br />
        <label>Noa Dahan: </label><a href="mailto:noad3@ac.sce.ac.il">noad3@ac.sce.ac.il</a><br />
        <label>Yarin Sagiv: </label><a href="mailto:yarinsa1@ac.sce.ac.il">yarinsa1@ac.sce.ac.il</a><br />
    </div>
</body>

</html>