<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/sty.css" rel="stylesheet">
</head>

<header>
  <%- include('../partials/_header') %>
</header>

<body>

  <script>
      <p> WELCOM TO OUR WEBSITE </p>
  </script>

</body>

</html>