<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form action="/loginInCheck" method="post" >
  <div class="imgcontainer">
  </div>

  <div class="container">
    <br><label id="errorinput2"></label><br>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit" class="registerbtn" >Login</button>
    
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="submit" class="cancelbtn" >Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

<script>
  console.log("error inside");
  //logusucc=true;
  if ("<%= suc2 %>" == 'false')
  {
    console.log("mor2");
    var l = document.getElementById("errorinput2");
    l.innerHTML = "The user name / password not correct.";
    l.style = "font-size:18px; color: red;";
    logusucc=false;
  }
  else
  {
    document.getElementById('errorinput2').style.display = 'none';
    

  }

  

  
   
  
    
</script>

  

</body>
</html>