<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/inputDataBase" method="POST" onsubmit="return backtohome()">
    <div class="container">
      <p>Please fill in this form to create an account</p>
      <hr>
      <br><label id="errorinput"></label><br>
      <label for="firstname"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="firstname" id="firstname" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');"required>
      <br/>
      <label for="secname"><b>Seconed Name</b></label>
      <input type="text" placeholder="Enter Secones Name" name="secname" id="secname" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="iduser"><b>ID</b></label>
      <br><label id="id"></label><br>
      <input type="text" placeholder="Enter ID" name="iduser" id="iduser" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="phone"><b>Phone Number</b></label>
      <br><label id="phoneerror"></label><br>
      <input type="text" placeholder="Enter Phone Number" name="phone" id="phone" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="username"><b>User Name</b></label>
      <input type="text" placeholder="Enter User Name" name="username" id="username" required>
      <br/>
      <label for="email"><b>Email</b></label>
      <br><label id="emailerr"></label><br>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>
      <br/>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      <br/>
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <br><label id="pswerror"></label><br>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>

      <input type="checkbox" id="Terms" name="Terms" value="Terms" >
      <label id="terms"></label><br>
      <label for="Terms"> By creating an account you agree to our <a href="#">Terms & Privacy</a> </label><br>
  

      <button type="submit" class="registerbtn" >Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? </p> 
      <button onclick="login()" class="registerbtn">Log In</button>
    </div>
</form>

<span id = "message" style="color:red"> </span> <br><br>  


<script>
  
  if ("<%= suc1 %>" == 'false')
  {
    var l = document.getElementById("errorinput");
    l.innerHTML = "The user name / ID already exixt in the website, please change id."
    l.style = "font-size:18px; color: red;"
    newusucc=false;

    

  }
  else
  {
    document.getElementById('errorinput').style.display = 'none';

  }

  function backtohome() {
    newusucc=true;
  
    /* check if the user checked the check box of the termes */
    if(!validate())
    {
      var l = document.getElementById("terms");
      l.innerHTML = "You didn't check it! Please confirm the terms if you want to register on the site."
      l.style = "font-size:18px; color: red;"
      newusucc=false;
    }
    else
    {

      document.getElementById('terms').style.display = 'none';
    }

    
    /* check if the ID have 9 digits */
    if((document.getElementById('iduser').value.length)!=9)
    {
      var l = document.getElementById("id");
      l.innerHTML = "The ID need to be with 9 digits."
      l.style = "font-size:18px; color: red;"
      newusucc=false

    }
    else
    {
      document.getElementById('id').style.display = 'none';
    }
    /* check if the phone number have 10 digits */
    if((document.getElementById('phone').value.length)!=10)
    {
      var l = document.getElementById("phoneerror");
      l.innerHTML = "The phone number need to be with 10 digits."
      l.style = "font-size:18px; color: red;"
      newusucc=false

    }
    else
    {

      document.getElementById('phoneerror').style.display = 'none';
    }
    /* check if  the password and the repeat password are the same */
    if(!checkPassword())
    {
      var l = document.getElementById("pswerror");
      l.innerHTML = "The passrord and the repeat password not the same."
      l.style = "font-size:18px; color: red;"
      newusucc=false

    }
    else
    {
      document.getElementById('pswerror').style.display = 'none';
    }

    /* check if  the email is invalid */
    if(!emailIsValid(document.getElementById("email").value))
    {
      var l = document.getElementById("emailerr");
      l.innerHTML = "The email is invalid"
      l.style = "font-size:18px; color: red;"
      newusucc=false

    }
    else
    {
      document.getElementById('emailerr').style.display = 'none';
    }

    return newusucc;
   
  } 

  /* go to log in page */
  function login()
  {
    window.location.href = "logIn";

  }
  
  /* func that check if the user checked the check box of the termes  */
  function validate() {
        if (document.getElementById('Terms').checked) {
            return true;
        } else {
            return false;
        }
    }
    
  /* check if  the password and the repeat password are the same */
  function checkPassword()
  {
    var pw = document.getElementById("psw").value;
    console.log(pw);  
    var pw2=document.getElementById("psw-repeat").value;  
    console.log(pw2);  

    //check if the password are equal 
    if (pw!= pw2)
    {
      return false;
      

    }
    else
    {
      return true;

    }
  
  }

  /* check if  the email is invalid */
  function emailIsValid (email) {
   return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
}

  

  
</script>

</body>
</html>