<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/RecruitContractorWorker" method="POST" >
    <div class="container">
        <p>Please fill the form</p>
        <hr>
            <br><label id="errorinput"></label><br>
            </br>
            <input type = "hidden" value="<%=_id%>" name="iduser"> 
            <label>Recruit:</label>
            <% if(ev1!=null && typeof ev1 !="undefined"){ %>
            <select id="recruit1" name="idE"> 
              <% ev1.forEach(function(dat) {%>
                <% if(typeof dat.eventname != undefined && dat.eventname) { %>
                    <option value="<%=dat._id %>"><%= dat.eventname %></option>
                <% } %> 
                <% }); %>                 
            </select> 
            <% } %>
            </br>
            <label for="date"><b>Start time</b></label>
            <input type="time" name="startTime" id="startTime">
            </br>
            <% if ( hasAddress == true){%>
                <br>
                <label for="location" style="font-size:18px;">do you want to use the contractor worker address?</label>
                <input type="checkbox"  onclick ="choose()" style="width: 18px; height: 18px;" name="locationC" id="locationC" value="true" checked>
            </br>
            <% } %>
                <label for="location" style="display: none;" id="location"><b>enter your location: </b></label>
                <input type="text" style="display: none;" name="locationE" id="locationE" required>  
            </br>   
            <label for="information"><b>information:</b></label>
            <input type="text" placeholder="Enter extre information about the recruit" name="information" id="information" maxlength="200" required>
            </br>
            <label for="workRate"><b>choose a work rate:</b></label>
            <select id="work_rate">
                <option value="work_rate">1</option>
                <option value="work_rate">2</option>
                <option value="work_rate">3</option>
                <option value="work_rate">4</option>
                <option value="work_rate">5</option>
            </select>
            </br>
            <input type="hidden" id="selectE" name="selectE">  

        <hr>
    </div>

    <button type="button" class="registerbtn" href="/profileEmployerPage" onclick="getSelect()">finish Recruit</button>
    <button type="submit" class="registerbtn" href="/profileEmployerPage">cancel</button>
    
    
</form>

<span id = "message" style="color:red"> </span> <br><br>

<script>

function getSelect() {
        document.getElementById("selectE").value = document.getElementById("recruit1").value;
        document.getElementById("form1").action = "/RecruitContractorWorker";
        document.getElementById("form1").method = "POST";
        document.getElementById("form1").submit();
}

function choose(){
    if((document.getElementById("locationC").checked)==false){
        document.getElementById("locationE").style.display="block";
        document.getElementById("location").style.display="block";
    }
    else{
        document.getElementById("locationE").style.display="none";
        document.getElementById("location").style.display="none";
    }


}

</script>
</body>
</html>