<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
  <style>
    td
    {
      border: 1px solid #ddd;
      padding: 8px;
    }
    tr
    {
      border: 1px solid #ddd;
      padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th
    {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 6px;
      padding-right: 6px;
      text-align: center;
      background-color: #a70d48;
      opacity: 0.9;
      color: white;
    }
  </style>
</head>

<body>
 
  <header>
    <%- include('../partials/_header') %>
  </header>
  
<form name="searchingInput" id="searchingInput" action="/searchContractorWorker" method="POST">
    <label style="font-size:20px;">
        <h3 class="searching" for="LsearchingBy:"><b>searching by: </b></h3>
        <label class="searching" for="firstname"><b>First Name: </b></label>
        <!--<% if(typeof INfirstname != "undefined" && INfirstname) { %>
          <input type="text" name="INfirstname" id="INfirstname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" checked>
        <% } else { %>
          <input type="text" name="INfirstname" id="INfirstname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" >
        <% } %>
        &emsp;-->

        <input type="text" name="INfirstname" id="INfirstname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" >
      
        <br >
        <label for="lastname"><b>Last Name: </b></label>
        <input type="text" name="INlastname" id="INlastname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" >
        <!--<br>
        <label for="jobTypesL"><b>Job Types: </b></label>
        <select name="jobTypes" id="jobTypes" >
            <option style="font-size:18px;" value="Hair Styling">Hair Styling</option>
            <option style="font-size:18px;" value="Makeup">Makeup</option>
            <option style="font-size:18px;" value="Event Stylist">Event Stylist</option>
            <option style="font-size:18px;" value="Sitting Organizer">Sitting Organizer</option>
            <option style="font-size:18px;" value="Photography">Photography</option>
            <option style="font-size:18px;" value="DJ">DJ</option>
            <option style="font-size:18px;" value="Musician">Musician</option>
            <option style="font-size:18px;" value="Atraction Provider">Attraction Provider</option>
            <option style="font-size:18px;" value="Invitation Printer">Invitation Printer</option>
        </select>
        <br>
        <label for="jobRateL"><b>Job Rate: </b></label>
        <select name="jobRate" id="jobRate" multiple>
            <option style="font-size:18px;" value="0">0</option>
            <option style="font-size:18px;" value="1">1</option>
            <option style="font-size:18px;" value="2">2</option>
            <option style="font-size:18px;" value="3">3</option>
            <option style="font-size:18px;" value="4">4</option>
            <option style="font-size:18px;" value="5">5</option>
        </select>
        <br>
        <label for="DateA"><b>Date available: </b></label>
        <input type="date" name="date" id="date">
        <br>
        <label for="gender"><b>Gender: </b></label>
        <input type="radio" id="male" name="gender" value="male" >
        <label for="male" style="font-size:22px;">Male&emsp;</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female" style="font-size:22px;">Female&emsp;</label>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other" style="font-size:22px;">Other</label>
        <br >

        <label for="accompaniedS"><b>accompanied services: </b></label>
        <input type="radio" id="yes" name="accompaniedS" value="yes" >
        <label for="yes" style="font-size:22px;">yes&emsp;</label>
        <input type="radio" id="no" name="accompaniedS" value="no">
        <label for="no" style="font-size:22px;">no&emsp;</label>
        <br >
        -->

        <!-- <select name="searchingBy" id="searchingBy" onChange="myFunction()" >
            <option class="searching" style="font-size:18px;" id='fName'  value="firstname">first name</option>
            <option class="searching" style="font-size:18px;" id='lName' value="lastName">last name</option>
            <option class="searching" style="font-size:18px;" id='jT' value="jobTypes">job Types</option>
            <option class="searching" style="font-size:18px;" id='jR' value="jobRate">job Rate</option>
            <option class="searching" style="font-size:18px;" id='daates' value="dates">dates</option>
            <option class="searching" style="font-size:18px;" id='gender' value="gender" style="display: none;">gender</option>
            <option class="searching" style="font-size:18px;" id='aServices' value="accompaniedServices">accompanied services</option>
            <option class="searching" style="font-size:18px;" id='rP' value="rangePrice">range of price</option>
        </select>-->
    <input type="submit" name="send" value="search" >
    <input type="reset" name="reset1" value="reset">

</form>
<% if(typeof message_no_res != "undefined" && message_no_res) { %>
  <label class="searching" style="display: block; text-align: center;"><%=message_no_res%></label>
<% } else { %>
  <table id="result_searching" style="width:90%; margin: 0 auto; text-align: center; border-collapse: collapse;">
    <tr id="head">
      <th>first Name</th>
      <th>last Name</th>
      <!-- <th>Job Types</th>
      <th>Job Rate</th>
      <th>Gender</th>
      <th>accompanied services</th>
      <th>link profile</th>-->

    </tr>

    <% if(contractorFound!=null && typeof contractorFound !=undefined) contractorFound.forEach(function(dataT) { %>
        <tr>
            <% if(typeof dataT.firstName != "" && dataT.firstName) { %>
                <td><%= dataT.firstName %></td>
            <% } %>
        </tr>
    <% }); %>

  </table>
<% } %>
<!--<table>
    <tr> ==$0
      <th>first Name</th>
      <th>last Name</th>
      <th>Job Types</th>
      <th>Job Rate</th>
      <th>Gender</th>
      <th>accompanied services</th>
      <th>link profile</th>
    </tr>
    <tr>
      <td></td>
      <td>john.doe@example.com</td>
      <td>123-45-678</td>
    </tr>
  </table>-->



<script >
function initdit()
  {
    //DATES:
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    //document.write(today);
    document.getElementById("date").min = today;
  }
  initdit();
    
/*function myFunction() {
  var x = document.getElementById("searchingBy").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;  
  if (x == 'gender')
    document.getElementById("selectGender").style.display = 'block';
} */


function show(id) {
    document.getElementById(id).style.display = 'block';
}

function hide(id) {
    document.getElementById(id).style.display = 'none';
}


</script>
</body>

</html>