<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
</head>

<body>
 
  <header>
    <%- include('../partials/_header') %>
  </header>
  
  <form name="searchingInput" id="searchContractor" action="/searchContractorWorker" method="get">
    <label style="font-size:20px;">
        <label class="searching" for="LsearchingBy:"><b>searching by: </b></label>
        <select name="searchingBy" id="searchingBy" onChange="myFunction()" >
            <option style="font-size:18px;" id='fName'  value="firstname">first name</option>
            <option style="font-size:18px;" id='lName' value="lastName">last name</option>
            <option style="font-size:18px;" id='jT' value="jobTypes">job Types</option>
            <option style="font-size:18px;" id='jR' value="jobRate">job Rate</option>
            <option style="font-size:18px;" id='daates' value="dates">dates</option>
            <option style="font-size:18px;" id='gender' value="gender" onChange="getElementById('g1').innerHTML"></option>>gender</option>
            <option style="font-size:18px;" id='aServices' value="accompaniedServices">accompanied services</option>
            <option style="font-size:18px;" id='rP' value="rangePrice">range of price</option>
        </select>
        <input type="submit" name="send" value="search" />
        <input type="reset" name="reset1" value="reset">

 </form>
<p id='g1'>
    <label for="gender"><b>Gender: </b></label><br>
    <input type="radio" id="male" name="gender" value="male" checked>
    <label for="male" style="font-size:22px;">Male&emsp;</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female" style="font-size:22px;">Female&emsp;</label>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other" style="font-size:22px;">Other</label>
</p>

<p id="demo"></p>

<script >
    
function myFunction() {
  var x = document.getElementById("searchingBy").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;  
} 
function myFunction1() {
  var x = document.getElementById("gender").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;  
} 

function show(id) {
    document.getElementById(id).style.display = 'block';
}

function hide(id) {
    document.getElementById(id).style.display = 'none';
}

function type1(id){
    var s1 = document.getElementById(id);
    if(id=='fName')
    {
        document.write("first name:")
    }
}

</script>
</body>

</html>