<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
</head>

<body>
 
  <header>
    <%- include('../partials/_header') %>
  </header>
  
<form name="searchingInput" id="searchContractor" action="/searchContractorWorker" method="get">
    <label style="font-size:20px;">
        <label class="searching" for="LsearchingBy:"><b>searching by: </b></label>
        <br>
        <br>
        <label for="firstname"><b>First Name: </b></label>
        <input type="text" name="firstname1" id="firstname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" required>
        <br >
        <label for="lastname"><b>Last Name: </b></label>
        <input type="text" name="lastname" id="lastname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" required>
        <br>
        <label for="jobTypesL"><b>Job Types: </b></label>
        <select name="jobTypes" id="jobTypes" >
            <option style="font-size:18px;" value="Hair Styling">Hair Styling</option>
            <option style="font-size:18px;" value="Makeup">Makeup</option>
            <option style="font-size:18px;" value="Event Stylist">Event Stylist</option>
            <option style="font-size:18px;" value="Sitting Organizer">Sitting Organizer</option>
            <option style="font-size:18px;" value="Photography">Photography</option>
            <option style="font-size:18px;" value="DJ">DJ</option>
            <option style="font-size:18px;" value="Musician">Musician</option>
            <option style="font-size:18px;" value="Atraction Provider">Attraction Provider</option>
            <option style="font-size:18px;" value="Invitation Printer">Invitation Printer</option>
        </select>
        <br>
        <label for="jobRateL"><b>Job Rate: </b></label>
        <select name="jobRate" id="jobRate" multiple>
            <option style="font-size:18px;" value="0">0</option>
            <option style="font-size:18px;" value="1">1</option>
            <option style="font-size:18px;" value="2">2</option>
            <option style="font-size:18px;" value="3">3</option>
            <option style="font-size:18px;" value="4">4</option>
            <option style="font-size:18px;" value="5">5</option>
        </select>
        <br>
        <label for="DateA"><b>Date available: </b></label>
        <input type="date" name="date" id="date">
        <br>
        <label for="gender"><b>Gender: </b></label>
        <input type="radio" id="male" name="gender" value="male" checked>
        <label for="male" style="font-size:22px;">Male&emsp;</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female" style="font-size:22px;">Female&emsp;</label>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other" style="font-size:22px;">Other</label>
        <br >

        <label for="accompaniedS"><b>accompanied services: </b></label>
        <input type="radio" id="yes" name="gender" value="yes" checked>
        <label for="yes" style="font-size:22px;">yes&emsp;</label>
        <input type="radio" id="no" name="gender" value="no">
        <label for="no" style="font-size:22px;">no&emsp;</label>
        <br >

        <!-- <select name="searchingBy" id="searchingBy" onChange="myFunction()" >
            <option class="searching" style="font-size:18px;" id='fName'  value="firstname">first name</option>
            <option class="searching" style="font-size:18px;" id='lName' value="lastName">last name</option>
            <option class="searching" style="font-size:18px;" id='jT' value="jobTypes">job Types</option>
            <option class="searching" style="font-size:18px;" id='jR' value="jobRate">job Rate</option>
            <option class="searching" style="font-size:18px;" id='daates' value="dates">dates</option>
            <option class="searching" style="font-size:18px;" id='gender' value="gender" style="display: none;">gender</option>
            <option class="searching" style="font-size:18px;" id='aServices' value="accompaniedServices">accompanied services</option>
            <option class="searching" style="font-size:18px;" id='rP' value="rangePrice">range of price</option>
        </select>-->
        <label class="searching" id='selectGender' style="display: none;">
            <input type="radio" id="male" name="gender" value="male" checked>
            <label for="male" style="font-size:22px;">Male&emsp;</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female" style="font-size:22px;">Female&emsp;</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other" style="font-size:22px;">Other</label>
        </label>
    <input type="submit" name="send" value="search" />
    <input type="reset" name="reset1" value="reset">


</form>

<p id="demo"></p>

<script >
function initdit()
  {
    //DATES:
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    //document.write(today);
    document.getElementById("date").min = today;
  }
  initdit();
    
function myFunction() {
  var x = document.getElementById("searchingBy").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;  
  if (x == 'gender')
    document.getElementById("selectGender").style.display = 'block';
} 


function show(id) {
    document.getElementById(id).style.display = 'block';
}

function hide(id) {
    document.getElementById(id).style.display = 'none';
}

function type1(id){
    var s1 = document.getElementById(id);
    if(id=='fName')
    {
        document.write("first name:")
    }
}

</script>
</body>

</html>