<html>


<head>
  <link href="css/sty.css" rel="stylesheet">
</head>

<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

  <form name="searchingInputE" id="searchingInputE"action="/searchEmployer" method="POST">
      <!--<label style="font-size:20px;">-->
        <h3 class="searching" for="LsearchingE:"><b>searching employer </b></h3>
          <!--<label class="searching" for="empID"><b>employer id: </b></label>-->
          <input type="text" placeholder="Enter employer ID" name="idE" id="idE" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" required>
      <input type="submit" name="send" value="search" >
      <input type="reset" name="reset1" value="reset">
  </form>  

  <% if(typeof messageNRE != "undefined" && messageNRE) { %>
    <label class="searching" style="display: block; text-align: center;"><%=messageNRE%></label>
    <% } else if(result && typeof result !="undefined"){ %>
      <button type="button" id="gobutton" style="float: center;" onclick="goProfile()">Go to the profile</button>
      <input type="hidden" id="go" name="go">

        <!--<% employerFound.forEach(function(dataT) { %>
          <a href="http://localhost:5000/profileEmployerPage?id=<%=dataT._id %>">link to user profile</a>
          <label class="searching" for="INlink"><b>link:</label><a href="http://localhost:5000/watchProfile?id=<% employerFound._id %>">link to profile</a><br />
        <% }); %-->
    <% } %>
</body>
<script>

  function goProfile() {
    console.log("go to the profile is ok");
    document.getElementById("go").value = document.getElementById("gobutton").value;
    
    //document.getElementById("accepted").value = selected.toString();
    console.log("gogogo:::"+document.getElementById("go").value);



    var ok=true;
    //var r = confirm("are you sure you want to delete your account?");
    //if (r == true)
     // window.location.href = "/deleteC";

  }
</script>

</html>