<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/selectEventUp" method="POST" >
    <div class="container">
        <p>Please choose the event you want to update</p>
        <hr>
            <label>your event:</label>
            <% if(ev1!=null && typeof ev1 !="undefined"){ %>
            <select id="your_event"> 
              <% ev1.forEach(function(dat) {%>
                <% if(typeof dat.eventname != undefined && dat.eventname) { %>
                    <option><%= dat.eventname %></option>
                <% } %>  
                <% }); %> 
                
            </select>
            <% } %>
            <input type="hidden" id="selectE" name="selectE">   
    </div>


<button type="button" class="registerbtn" onclick="getSelect()">Update this event</button>

</form>
</body>

<script>
      function getSelect() {
        document.getElementById("selectE").value = document.getElementById("your_event").value;
        document.getElementById("form1").action = "/selectEventUp";
        document.getElementById("form1").method = "POST";
        document.getElementById("form1").submit();
        console.log("yarinfunget");
        }
</script>
</html>